doctype html
html
    head
        title=self.title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style#Styles!=self.css
    body
        header
            h1 SmarkForm Test
            h2=self.title
        block mainForm
        script(src="../../dist/SmarkForm.js")
        script.
            window.form = new SmarkForm(
                document.querySelector("body")
                , !{self.actions || '{}'}
            );

