

:root {
    --section-background: hsla(267, 11%, 82%, .3);
    --fieldset-background: hsla(247, 11%, 82%, .5);
    --round-radius: .75rem;
    --form-gap: .2rem;
}



section, header {
    margin: 0px 1rem 1rem 1rem;
}


section {
    background: var(--section-background);
    border: solid 1px grey;
    border-radius: .5em;
    padding: 1rem;
}


fieldset {
    margin: 1em 0px;
    padding: .5em;
    border-radius: .5em;
    position: relative;
    background: var(--fieldset-background);
}


.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: .3em;
    align-items: flex-start;
    align-content: stretch;
    justify-content: flex-start;
    font-size: 1rem;
    max-width: 100%;
    flex-grow: 1;

    &>.spacer {
        flex-grow: 5;
    }

    input,
    textarea,
    select,
    {
        background-color : #ffffff; 
        flex-grow: 5;
    }

    input, textarea, select, button.action {
        margin: var(--form-gap);
        padding: .5em .7em;
        border-radius: var(--round-radius);
    }


    textarea {
        resize: none;
    }

    label {
        font-weight: bold;
        align-items: baseline;
    }

    &>button.action {
        align-self: flex-start;
    }

}


.singleton {
    display: flex;
    align-items: stretch;
    //margin: var(--form-gap);

    input, textarea, select, button.action {
        border-radius: 0px;
        &:first-child {
            border-radius: var(--round-radius) 0px 0px var(--round-radius);
        }
        &:last-child {
            border-radius:  0px var(--round-radius) var(--round-radius) 0px;
        }
    }

    &>* {
        z-index: 2;
        margin: 0px !important;
    }

    &>button.action {
        z-index: 1;
    }
}






/* Headers and Footers */

h1, h2, h3, h4, h5, h6 {
    user-select: none;
}

.form-group.h1, .form-group.f1 {
    font-size: 1.6rem;
    font-weight: bold;
    user-select: none;
}
.form-group.h1 {
    border-bottom: solid 3px;
    margin-top: 1.5rem;
    margin-bottom: .8rem;
}
.form-group.f1 {
    border-top: solid 3px;
    margin-bottom: 1.5rem;
    margin-top: .8rem;
    padding-top: .2em;
}
.form-group.h2, .form-group.f2 {
    font-size: 1.4rem;
    user-select: none;
}
.form-group.h2 {
    border-bottom: solid 2px;
    margin-top: 1.5rem;
    margin-bottom: .8rem;
}
.form-group.f2 {
    border-top: solid 2px;
    margin-bottom: 1.5rem;
    margin-top: .8rem;
    padding-top: .2em;
}


.foldButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: .2em;
  background: none;
  transition: transform .5s;
}
.foldButton:not(.folded) {
  transform: translateY(.5em) rotate(45deg);
}
.foldButton.folded {
  transform: translateY(.5em) rotate(-135deg);
}
@media (hover:hover) {
    .foldButton.folded:hover {
        transform: translateY(.5em) rotate(45deg);
    }
    .foldButton:not(.folded):hover {
        transform: translateY(.5em) rotate(-135deg);
    }
}


.form-group .ingoing {
    transform: scaleY(0) translateY(-50%);
}

.form-group .ongoing {
    transition:
        transform 70ms ease-in
    ;
}

.form-group .outgoing {
    transform: scaleY(0) translateY(-50%);
    transition:
        transform 70ms ease-out
    ;
}

@media (hover:hover) {
    .form-group button.action:not([disabled]):hover {
            transform: translate(2px, 2px);
    }
}

@media (orientation: portrait) {
    .form-group button.action {
        font-size: 1.1rem !important;
    }
}

