doctype html
html
    head
        title SmarkForm Demo
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="index.css")
    body
        div.container
            div#main-form
                header
                    h1 SmarkForm Example
                    small
                        p
                            | This example demonstrates how to create a simple form
                            | layout that can almost responsively expand and stack
                            | depending on the width of the page.
                        p
                            span Background image courtesy of 
                            a(
                                href="https://picsum.photos/"
                                target="_blank"
                            ) https://picsum.photos/

                block mainForm
            #test-tools.hidden
                textarea#inoutJson {}
                .buttons
                    button#importButton ⬆️  Import
                    button#exportButton ⬇️  Export
                    button#clearButton ❌ Clear
            button#testButton(title="Import/Export test...") 🔧

        script(
            src="../../dist/SmarkForm.js",
        )
        script(
            src="app.js",
        )


