doctype html
html
    head
        title SmartForm Demo
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/form.css")
    body
        fieldset.main-content
            header
                h1 SmartForm Example
                small
                    p
                      | This example demonstrates how to create a simple form
                      | layout that can almost responsively expand and stack
                      | depending on the width of the page.
                    p  
            .form-group
                label Company
                input.input-control(data-smart="input")
            .form-group
                label Address
                textarea.input-control
            .form-group
                label City,State,Zip
                input.input-control(data-smart="input" placeholder='City' style='flex: 6')
                input.input-control(data-smart="input" placeholder='State' style='flex:1')
                input.input-control(data-smart="input" placeholder='Postal Code' style='flex:2')
            div
                .form-group
                    label
                        button(data-smart = {
                            action: "addItem",
                            for: "employee",
                        }) +
                        b Employee
                    div(data-smart = {
                        type: "list",
                        name: "employee",
                        max_items: 3,
                        min_items: 1,
                    })
                        div
                            .form-group
                                label
                                    button.input-control(data-smart = {
                                        action: "removeItem",
                                    }) -
                                label
                                    First Name
                                input.input-control(data-smart="input")
                                label.right-inline Last Name
                                input.input-control(data-smart="input")
                            .form-group
                                label
                                label
                                    button(data-smart = {
                                        action: "addItem",
                                        for: "phones",
                                    }) +
                                    b Phones
                                div(data-smart = {
                                    name: "phones",
                                    type: "list",
                                    of: "singleton",
                                    min_items: 1,
                                    max_items: 3,
                                })
                                    .form-group
                                        label
                                        input.input-control(data-smart="input" type='tel')
                                        label
                                            button.input-control(data-smart = {
                                                action: "removeItem",
                                            }) -

                                label
                                    button(data-smart = {
                                        action: "addItem",
                                        for: "emails",
                                    }) +
                                    b Emails
                                div(data-smart = {
                                    name: "emails",
                                    type: "list",
                                    of: "singleton",
                                    min_items: 1,
                                    max_items: 3,
                                })
                                    .form-group
                                        label
                                        input.input-control(data-smart="input" type='email')
                                        label
                                            button.input-control(data-smart = {
                                                action: "removeItem",
                                            }) -
            .form-group
                label  
                button Save
                button Cancel

    script(
        type="module",
        src="./js/app.js",
    )


