doctype html
html
    head
        title SmartForm Demo
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/form.css")
    body
        div.container
            div
                div#main-form
                    header
                        h1 SmartForm Example
                        small
                            p
                                | This example demonstrates how to create a simple form
                                | layout that can almost responsively expand and stack
                                | depending on the width of the page.
                    block mainForm
                #test-tools.hidden
                    textarea#inoutJson {}
                    .buttons
                        button#importButton ⬆️  Import
                        button#exportButton ⬇️  Export
                        button#clearButton ❌ Clear
                button#testButton(title="Import/Export test...") 🔧

    script(
        type="module",
        src="./js/app.js",
    )


