*, *::after, *::before {
    box-sizing: content-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background-image: url("/img/background.jpg");
    background-position: center;
    background-size: cover;
}

body>* {
    position: relative;
    margin: 0px;
    overflow: scroll;
    display: flex;
    gap: 0px;
    justify-content: center;
}

.container {
    margin: 1em;
    padding: 0px;
    height: 80vh;
    overflow: auto;
}

#main-form {
    margin-bottom: 10em;
}

.container>* {
    max-width: 1024px;
}

/* @media (max-width: 768px) { */
/*     body>* { */
/*         padding: 20px 8px; */
/*     } */
/* } */



#test-tools {
    position: fixed;
    height: 20vh;
    width: 100vw;
    text-align: right;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

#test-tools .buttons {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: flex-end;
    pointer-events: none;
}
#test-tools .buttons>* {
    pointer-events: all;
    padding: .3rem;
    font-size: .8rem;
}


#test-tools textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 75%;
    height: 100%;
    resize: none;
    z-index: 1;
}

 
