*, *::after, *::before {
    box-sizing: content-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background-image: url("/img/background.jpg");
    background-position: center;
    background-size: cover;
}

body>* {
    position: relative;
    margin: 0px;
    overflow: scroll;
    display: flex;
    gap: 0px;
    justify-content: center;
}

.container {
    padding: 1em;
    height: 100vh;
    overflow: auto;
}

#main-form {
    margin-bottom: 10rem;
}

.container>* {
    max-width: 1024px;
}

:root {
    --tbMargin: 5px;
    --tbPadding: .3rem;
    --tbFontSize: 1.5rem;
    --ttBottom: calc(
        4 * (
            var(--tbMargin)
            + var(--tbPadding)
        )
        + var(--tbFontSize)
    );
}


#testButton {
    position: fixed;
    z-index: 10;
    bottom: var(--tbMargin);
    right: var(--tbMargin);
    padding: var(--tbPadding);
    font-size: var(--tbFontSize);
}

#test-tools.hidden {
    display: none;
}

#test-tools {
    position: fixed;
    top: 5vh;
    left: 10vw;
    right: 10vw;
    bottom: var(--ttBottom);
    text-align: right;
    display: flex;
    flex-direction: column;
}

#test-tools textarea {
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 90%;
    resize: none;
}

#test-tools .buttons {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
    pointer-events: none;
}
#test-tools .buttons>* {
    pointer-events: all;
    padding: .3rem;
    font-size: 1.2rem;
}



 
