block background_switcher
    script.
        const bgImg = `https://picsum.photos/id/${1+Math.floor(Math.random()*1084)}/800.jpg`;
        document.documentElement.style.setProperty('--background-image-url', `url("${bgImg}")`);
        document.addEventListener("DOMContentLoaded", function() {
            const backgroundAnchor = document.getElementById("background-anchor");
            if (backgroundAnchor) backgroundAnchor.href = bgImg;
        });
