block credits
    style.
        .credits {
            background: rgba(255, 255, 255, .7);
            padding: .5em;
            margin: .3em;
            font-size: small;
        }
        .credits, .credits a {
            color: darkblue;
        }
        .credits .subtitle, .credits .subtitle a {
            color: darkgrey;
            font-weight: bold;
        }
        .credits .description {
            color: black;
        }
        .credits ul {
            margin-left: .2em;
            list-style-type: none;
        }
        .credits li::before {
            content: "👉";
            margin-right: 5px;
        }
    .credits
        block description
            p.subtitle This is an #[a(href="https://bitifet.github.io/SmarkForm/") SmarkForm] demonstration page.
            p.description=description
            ul
                li
                    | Complete documentation and
                    | #[a(href="https://bitifet.github.io/SmarkForm/resources/examples") more examples]
                    | at
                    | #[a(href="https://bitifet.github.io/SmarkForm") https://bitifet.github.io/SmarkForm]
                li
                    | GitHub:
                    | #[a(href="https://github.com/bitifet/SmarkForm") https://github.com/bitifet/SmarkForm.]
                li
                    | NPM:
                    | #[a(href="https://www.npmjs.com/package/smarkform") https://bitifet.github.io/SmarkForm]
                li
                    | #[a#background-anchor(href="#") Background image]
                    | courtesy of 
                    | #[a(href="https://picsum.photos/") Lorem Picsum]
