block credits
    small
        p
            | This example demonstrates how to create a simple form
            | layout that can almost responsively expand and stack
            | depending on the width of the page.
        p
            span Background image courtesy of 
            a(
                href="https://picsum.photos/"
                target="_blank"
            ) https://picsum.photos/
        p.hidden
            b Url:
            a#background-anchor(href="")
