block credits
    style.
        .credits {
            background: rgba(255, 255, 255, .7);
            padding: 1em 1.5em;
            margin: .3em;
            font-size: small;
        }
        .credits, .credits a {
            color: darkblue;
        }
        .credits .subtitle, .credits .subtitle a {
            color: darkgrey;
            font-weight: bold;
        }
        .credits .description {
            color: black;
        }
        .credits ul {
            margin-left: .2em;
            list-style-type: none;
        }
        .credits li::before {
            content: "👉";
            margin-right: 5px;
        }
    .credits
        block description
            p.subtitle This is an #[a(href="https://smarkform.bitifet.net") SmarkForm] demonstration page.
            p.description=description
            ul
                li
                    | Complete documentation at
                    | #[a(href="https://smarkform.bitifet.net") https://smarkform.bitifet.net].
                li
                    | Latest version and more examples at
                    | #[a(href="https://smarkform.bitifet.net/resources/examples") https://smarkform.bitifet.net/resources/examples]
                li
                    | GitHub:
                    | #[a(href="https://github.com/bitifet/SmarkForm") https://github.com/bitifet/SmarkForm].
                li
                    | NPM:
                    | #[a(href="https://www.npmjs.com/package/smarkform") https://www.npmjs.com/package/smarkform].
                li
                    |  #[a#background-anchor(href="#") Background image]
                    | courtesy of 
                    | #[a(href="https://picsum.photos/") Lorem Picsum]
