script.

    document.addEventListener('DOMContentLoaded', function() {

        // <!-- BEGIN controller sample-->

        // Essential:
        // ==========

        // SmarkForm instantiation:
        const myForm = new SmarkForm(document.querySelector("#main-form"));


        // Import / Export data handling:
        // ==============================

        // Do Something on export action:
        myForm.on("AfterAction_export"
            , ({data})=>alert (JSON.stringify(data, null, 4))
        );

        // Fetching data on import action (example):
        myForm.on("BeforeAction_import", (options) => {
            let data = prompt('Provide JSON data');
            try {
                options.data = JSON.parse(data);
            } catch (err) {
                if (data.length) {
                    alert ('⚠️  Invalid JSON!!');
                    data = null; // Emulate prompt cancel.
                } else {
                    data = {}; // Drop form contents
                };
            };
            if (data === null) options.preventDefault();
        });


        // Aesthetic enhancements:
        // =======================

        // Ask for confirm on empty action
        myForm.on("BeforeAction_empty", async ({context, preventDefault}) => {
            if (
                ! await context.isEmpty() // Don't even ask if already empty
                && ! confirm("Are you sure?") // Ask for confirmation
            ) preventDefault(); // Abort if user cancelled
        });

        // Allow for list items addition/removal CSS animation:
        // (Propperly and/remove "animated_item" and "ongoing" CSS classes)
        const delay = ms=>new Promise(resolve=>setTimeout(resolve, ms));
        myForm.onAll("addItem", function({
            newItemTarget, /* the target of the future new item */
            onRendered
        }) {
            newItemTarget.classList.add("animated_item");
            onRendered(async (newItem)=>{
                await delay(1); /* Allow for default .animated_item style to be applied */
                newItem.targetNode.classList.add("ongoing");
                /* Here we could have used newItemTarget instead */
            });
        });
        myForm.onAll("removeItem", async function({
            oldItemTarget,
            onRemmoved
        }) {
            oldItemTarget.classList.remove("ongoing");
            /* Await for transition to be finished before item removal: */
            await delay(150);
        });

        // <!-- END controller sample-->

    });
