//- src/examples/smarkform_layout_sample.scss
//- =========================================

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
};




// General layout:
// ===============

:root {
    line-height: 1.5;
    font-size: calc(8px + .5vw + .5vh + .4vmin);
}

:root {
    //--background-image-url: url("https://picsum.photos/800"); // Failback (random image)
    --background-image-url: initial;
}
html,
body {
    background:
        var(--background-image-url),
        linear-gradient(120deg, #595b5d 0%, #f7f7f8 100%)
    ;
    background-position: center;
    background-size: cover;
    .hidden {
        display: none;
    }

    height: 100vh;
    height: 100svh;
    width: 100vw;
    position: fixed;
    font-family: 1rem/1.6 Arial, Helvetica, sans-serif;


}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  min-width: 200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .6);
  overflow-y: auto;
}


