//- src/examples/smarkform_layout_sample.scss
//- =========================================

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --section-background: hsla(267, 11%, 82%, .3);
    --fieldset-background: hsla(247, 11%, 82%, .5);
    --round-radius: .75rem;
    --form-gap: .2rem;
    --layout-paddings: 1rem;
    @media (max-width: 400px) {
        --layout-paddings: .2rem;
    }
}


// General layout:
// ===============

html,
body {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background:
        url("https://picsum.photos/800")
        , #888888
    ;
    background-position: center;
    background-size: cover;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  min-width: 200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .6);
  overflow-y: auto;
}


