//- src/examples/smarkform_styles_sample.scss
//- =========================================

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --section-background: hsla(267, 11%, 82%, .3);
    --fieldset-background: hsla(247, 11%, 82%, .5);
    --round-radius: .75rem;
    --form-gap: .2rem;
    --layout-paddings: 1rem;
    @media (max-width: 400px) {
        --layout-paddings: .2rem;
    }
}


.smarkForm {
    flex: 1;
    margin: var(--layout-paddings);


    // Outer Layout:
    // =============

    section, header {
        margin: var(--layout-paddings);
        &>h1 {
            margin-top: 0px;
        }
    }

    section {
        background: var(--section-background);
        border: solid 1px grey;
        border-radius: .5em;
        padding: var(--layout-paddings);
    }

    fieldset {
        margin: 1em 0px;
        padding: calc(var(--layout-paddings) / 2);
        border-radius: .5em;
        position: relative;
        background: var(--fieldset-background);
    }


    // Form organization classes:
    // ==========================

    // .aside - Put things aside.
    //          👉 Use .inline for non width-greedy childs such as buttons, etc...
    .aside {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &>:not(.inline) {
            flex: 1;
        }
        &>.inline {
            display: inline-block;
        }
        &.reverse {
            flex-direction: row-reverse;
        }
    }

    // .full-width - Ensure elements to took all available with
    //               👉 Useful for list items...
    .full-width {
        width: 100%;
    }

    .form-group {
        display: flex;
        gap: var(--form-gap);
        align-items: flex-start;
        align-content: stretch;
        justify-content: flex-start;
        max-width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        &:not(.nowrap) {
            flex-wrap: wrap;
        }
    }

    .spacer {
        flex-grow: 5;
    }

    .input-group {
        display: grid;
        flex-grow: 1;
        grid-template-columns: min-content 1fr;
        gap: var(--form-gap);
        align-items: flex-start;
        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    .singleton {
        display: flex;
        align-items: stretch;
        margin: var(--form-gap);

        input, textarea, select {
            width: 140px;
        }
        input, textarea, select, button {
            border-radius: 0px;
            &:first-child {
                border-radius: var(--round-radius) 0px 0px var(--round-radius);
            }
            &:last-child {
                border-radius:  0px var(--round-radius) var(--round-radius) 0px;
            }
        }

        &>* {
            z-index: 2;
            margin: 0px !important;
        }

        &>button {
            z-index: 1;
        }
    }





    input,
    textarea,
    select,
    {
        background-color : #ffffff; 
        flex-grow: 5;
    }

    input, textarea, select, button {
        margin: var(--form-gap);
        border-radius: var(--round-radius);
        padding: .5rem 1rem;
        width: auto;
        font-size: inherit;
    }
    button {
        min-width:2rem;
    }


    textarea {
        resize: none;
    }

    label {
        padding-top: .3rem;
        font-weight: bold;
    }

    label, button {
        user-select: none;
    }

    a:focus,
    button:focus,
    input:focus,
    textarea:focus {
        box-shadow: none;
        &:not([tabindex="-1"]) {
            outline: darkgray dotted 4px;
            outline-offset: .05em;
        }
    }



    /* Headers and Footers */

    h1, h2, h3, h4, h5, h6 {
        user-select: none;
    }

    .form-group.h1, .form-group.f1 {
        font-size: 1.6rem;
        font-weight: bold;
        user-select: none;
    }
    .form-group.h1 {
        border-bottom: solid 3px;
        margin-top: 1.5rem;
        margin-bottom: .8rem;
    }
    .form-group.f1 {
        border-top: solid 3px;
        margin-bottom: 1.5rem;
        margin-top: .8rem;
        padding-top: .2em;
    }
    .form-group.h2, .form-group.f2 {
        font-size: 1.4rem;
        user-select: none;
    }
    .form-group.h2 {
        border-bottom: solid 2px;
        margin-top: 1.5rem;
        margin-bottom: .8rem;
    }
    .form-group.f2 {
        border-top: solid 2px;
        margin-bottom: 1.5rem;
        margin-top: .8rem;
        padding-top: .2em;
    }


    .foldButton {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: .2em;
        background: none;
        font-size: 1.3em;


        transition: transform .5s;
        transform: translateY(.2em) rotate(45deg);
        &.folded {
            transform: translateY(.2em) rotate(-135deg);
        }
        @media (hover:hover) {
            &:hover {
                opacity: .5;
                &.folded {
                    transform: translateY(.2em) rotate(45deg);
                }
                &:not(.folded) {
                    transform: translateY(.2em) rotate(-135deg);
                }
            }
        }
    }


    /* List items animation */
    .animated_item {
        transform: scaleY(0) translateY(-50%);
        /* Add transition for removal effect */
        transition:
            transform 150ms ease-out
        ;
    }
    .animated_item.ongoing {
        transform: scaleY(1) translateY(0%);
        transition:
            transform 150ms ease-in
        ;
    }


    @media (hover:hover) {
        .form-group button:not([disabled]):hover {
                transform: translate(2px, 2px);
        }
    }

    // Form validation:
    input:invalid {
        background-color: lightpink;
    }

}
