//- src/examples/smarkform_layout_sample.scss
//- =========================================

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
};




// General layout:
// ===============

:root {
    line-height: 1.5;
    font-size: calc(8px + .5vw + .5vh + .4vmin);
}

html,
body {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    position: fixed;
    font-family: 1rem/1.6 Arial, Helvetica, sans-serif;
    background:
        url("https://picsum.photos/800")
        , #888888
    ;
    background-position: center;
    background-size: cover;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  min-width: 200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .6);
  overflow-y: auto;
}


