extends include/layout.pug
include include/mixins.pug
include include/credits.pug
include include/autobackground.pug
block append properties
    -
        var title = "SmarkForm TODO-List Example";
        var description = `
            This example shows how to create a complete TO-DO list interface
            with just a few HTML lines.
        `;
block mainForm
    section
      .form-group.h1.nowrap
        .spacer
        button(data-smark='{"action":"import","context":"tasklist"}') 📂 Import (JSON)
        button(data-smark='{"action":"export","context":"tasklist"}') 💾 Export (JSON)
      .form-group(data-smark={
          type:"list",
          name:"tasklist",
          exportEmpties: true,
          min_items:0
      })
        fieldset.form-group.aside.reverse(data-smark={
            exportEmpties: false
        })
          button.inline(data-smark='{"action":"removeItem"}', title='Remove task') ❌
          .form-group.spacer
            .form-group
                input(data-smark, name='title', type='text', placeholder='Task title')
            .form-group
                +inputlist("Goals")(
                    name="goals"
                    type="text",
                    max_items=100,
                    placeholder="New goal...",
                    removeFailback="clear"
                )
      .form-group.f1.nowrap(style='text-align: right')
        .spacer
        button(data-smark = {
            action: "empty",
            context: "tasklist",
            autoscroll: "elegant",
        }, title="Clear form data") ❌ Clear all
        button(data-smark = {
            action: "removeItem",
            context: "tasklist",
            target: "*",
            autoscroll: "elegant",
            keep_non_empty: true,
        }, title="Clear all empty tasks") 🧹 Clear empty
        button(data-smark='{"action":"addItem","context":"tasklist"}') ➕ Add new task


