*, *::after, *::before {
  box-sizing: border-box; }

html,
body {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background: url("https://picsum.photos/800"), #888888;
  background-position: center;
  background-size: cover; }

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  min-width: 200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  overflow-y: auto; }

#main-form {
  flex: 1;
  max-width: 100vw;
  margin: 0 10px;
  margin-bottom: 10rem; }
  @media (min-width: 800px) {
    #main-form {
      max-width: 800px; } }

:root {
  --tbMargin: 5px;
  --tbPadding: .3rem;
  --tbFontSize: 1.5rem;
  --ttBottom: calc(
        4 * (
            var(--tbMargin)
            + var(--tbPadding)
        )
        + var(--tbFontSize)
    ); }

#testButton {
  position: fixed;
  z-index: 10;
  bottom: var(--tbMargin);
  left: var(--tbMargin);
  padding: var(--tbPadding);
  font-size: var(--tbFontSize); }

#test-tools.hidden {
  display: none; }

#test-tools {
  position: fixed;
  top: 5vh;
  left: 10vw;
  right: 10vw;
  bottom: var(--ttBottom);
  text-align: right;
  display: flex;
  flex-direction: column;
  z-index: 100; }

#test-tools textarea {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 90%;
  resize: none; }

#test-tools .buttons {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3px;
  pointer-events: none; }

#test-tools .buttons > * {
  pointer-events: all;
  padding: .3rem;
  font-size: 1.2rem; }

:root {
  --section-background: hsla(267, 11%, 82%, .3);
  --fieldset-background: hsla(247, 11%, 82%, .5);
  --round-radius: .75rem;
  --form-gap: .2rem; }

section, header {
  margin: 0px 1rem 1rem 1rem; }

section {
  background: var(--section-background);
  border: solid 1px grey;
  border-radius: .5em;
  padding: 1rem; }

fieldset {
  margin: 1em 0px;
  padding: .5em;
  border-radius: .5em;
  position: relative;
  background: var(--fieldset-background); }

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: .3em;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-start;
  font-size: 1rem;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; }
  .form-group > .spacer {
    flex-grow: 5; }
  .form-group input,
  .form-group textarea,
  .form-group select {
    background-color: #ffffff;
    flex-grow: 5; }
  .form-group input, .form-group textarea, .form-group select, .form-group button.action {
    margin: var(--form-gap);
    border-radius: var(--round-radius);
    padding: .5rem 0px;
    box-sizing: border-box;
    width: auto; }
  .form-group button.action {
    min-width: 2rem; }
  .form-group textarea {
    resize: none; }
  .form-group label {
    padding-top: .3rem;
    font-weight: bold;
    align-items: baseline; }
  .form-group > button.action {
    align-self: flex-start; }

.singleton {
  display: flex;
  align-items: stretch; }
  .singleton input, .singleton textarea, .singleton select, .singleton button.action {
    border-radius: 0px; }
    .singleton input:first-child, .singleton textarea:first-child, .singleton select:first-child, .singleton button.action:first-child {
      border-radius: var(--round-radius) 0px 0px var(--round-radius); }
    .singleton input:last-child, .singleton textarea:last-child, .singleton select:last-child, .singleton button.action:last-child {
      border-radius: 0px var(--round-radius) var(--round-radius) 0px; }
  .singleton > * {
    z-index: 2;
    margin: 0px !important; }
  .singleton > button.action {
    z-index: 1; }

/* Headers and Footers */
h1, h2, h3, h4, h5, h6 {
  user-select: none; }

.form-group.h1, .form-group.f1 {
  font-size: 1.6rem;
  font-weight: bold;
  user-select: none; }

.form-group.h1 {
  border-bottom: solid 3px;
  margin-top: 1.5rem;
  margin-bottom: .8rem; }

.form-group.f1 {
  border-top: solid 3px;
  margin-bottom: 1.5rem;
  margin-top: .8rem;
  padding-top: .2em; }

.form-group.h2, .form-group.f2 {
  font-size: 1.4rem;
  user-select: none; }

.form-group.h2 {
  border-bottom: solid 2px;
  margin-top: 1.5rem;
  margin-bottom: .8rem; }

.form-group.f2 {
  border-top: solid 2px;
  margin-bottom: 1.5rem;
  margin-top: .8rem;
  padding-top: .2em; }

.foldButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: .2em;
  background: none;
  transition: transform .5s; }

.foldButton:not(.folded) {
  transform: translateY(0.5em) rotate(45deg); }

.foldButton.folded {
  transform: translateY(0.5em) rotate(-135deg); }

@media (hover: hover) {
  .foldButton.folded:hover {
    transform: translateY(0.5em) rotate(45deg); }
  .foldButton:not(.folded):hover {
    transform: translateY(0.5em) rotate(-135deg); } }

.form-group .ingoing {
  transform: scaleY(0) translateY(-50%); }

.form-group .ongoing {
  transition: transform 70ms ease-in; }

.form-group .outgoing {
  transform: scaleY(0) translateY(-50%);
  transition: transform 70ms ease-out; }

@media (hover: hover) {
  .form-group button.action:not([disabled]):hover {
    transform: translate(2px, 2px); } }

@media (orientation: portrait) {
  .form-group button.action {
    font-size: 1.1rem !important; } }
